---
import type { GetStaticPaths } from "astro";
import { getAllNotes, getNoteBySlug } from "@lib/cms/notes";
import Layout from "@layouts/Layout.astro";
import RichTextRenderer from "@components/RichTextRenderer";
import Comments from "@components/Comments";

export const getStaticPaths = (async () => {
  const allNotes = await getAllNotes();
  return allNotes.map((note) => ({
    params: {
      slug: note.slug,
    },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
const note = await getNoteBySlug(slug);
---

<Layout
  title={note.title}
  keywords={note.tags?.join(", ")}
  description={note.excerpt}
  ogImageUrl={note.coverImage.url}
  breadcrumb={"notes.sh " + note.id.slice(-4)}
>
  <div class="mx-auto mt-6">
    <div class="text-balance font-redaction20">
      <h1 class="text-5xl">{note.title}</h1>
    </div>
    <div class="text-md mt-3 text-balance font-mono">
      <p>{note.excerpt}</p>
    </div>
    <hr class="border-b-1 mt-6 border-stone-700" />
  </div>
  <div class="mx-auto mt-6">
    <div class="mx-auto overflow-hidden rounded-xl shadow-md">
      <img
        src={note.coverImage.url}
        class="w-full"
        height={note.coverImage.height || 400}
        width={note.coverImage.width || 800}
        style={note.coverImage.placeholder?.css}
      />
    </div>
  </div>
  <article
    class="prose prose-stone mx-auto mb-8 mt-8 font-sans dark:prose-invert prose-img:rounded-md md:mb-10"
  >
    <RichTextRenderer
      richContent={note.richContent.json}
      references={note.richContent.references}
    />
  </article>
  <div
    class="flex flex-col gap-1 text-sm text-stone-700 sm:flex-row dark:text-stone-300"
  >
    <div class="flex flex-1 flex-wrap gap-1">
      {note.tags?.map((t) => `#${t}`).join(", ")}
    </div>
    <div>
      {
        new Date(note.date).toLocaleDateString("en-US", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </div>
  </div>
  <hr class="border-b-1 mt-3 border-stone-300 dark:border-stone-700" />
  <div class="mx-auto mt-6 md:mt-10">
    <Comments term={note.title} client:only />
  </div>
</Layout>
