---
import type { GetStaticPaths } from "astro";
import { getAllNotes, getNoteBySlug } from "@lib/cms/notes";
import Layout from "@layouts/Layout.astro";
import RichTextRenderer from "@components/RichTextRenderer";
import Comments from "@components/Comments";

export const getStaticPaths = (async () => {
  const allNotes = await getAllNotes();
  return allNotes.map((note) => ({
    params: {
      slug: note.slug,
    },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
const note = await getNoteBySlug(slug);
---

<Layout
  title={note.title}
  keywords={note.tags?.join(", ")}
  description={note.excerpt}
  ogImageUrl={note.coverImage.url}
  breadcrumb={"notes.sh " + note.id.slice(-4)}
>
  <div class="prose not-prose mx-auto mt-6 text-current">
    <div class="font-redaction20 text-balance">
      <h1 class="text-4xl font-bold">{note.title}</h1>
    </div>
    <div class="text-md mt-3 font-mono text-balance">
      <p>{note.excerpt}</p>
    </div>
  </div>

  <div class="mx-auto mt-6">
    <div class="mx-auto overflow-hidden rounded-xl shadow-md">
      <img
        src={note.coverImage.url}
        class="w-full"
        height={note.coverImage.height || 400}
        width={note.coverImage.width || 800}
        style={note.coverImage.placeholder?.css}
      />
    </div>
  </div>

  <div class="prose not-prose mx-auto mt-8">
    <hr class="border-b-0.5 border-stone-700" />
  </div>

  <article
    class="prose prose-stone dark:prose-invert prose-img:rounded-md mx-auto mt-8 mb-8 font-sans md:mb-10"
    id="content"
  >
    <RichTextRenderer
      richContent={note.richContent.json}
      references={note.richContent.references}
    />
  </article>
  <div
    class="flex flex-col gap-1 text-sm text-stone-700 sm:flex-row dark:text-stone-300"
  >
    <div class="flex flex-1 flex-wrap gap-1">
      {note.tags?.map((t) => `#${t}`).join(", ")}
    </div>
    <div>
      {
        new Date(note.date).toLocaleDateString("en-US", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </div>
  </div>
  <hr class="mt-3 border-b-1 border-stone-300 dark:border-stone-700" />
  <div class="mx-auto mt-6 md:mt-10">
    <Comments term={note.title} client:only />
  </div>
</Layout>

<script>
  const images = document.querySelectorAll(
    "#content img",
  ) as NodeListOf<HTMLImageElement>;
  images.forEach((image) => {
    image.addEventListener("load", () => {
      image.style.background = "none";
    });
  });
</script>
