---
import Layout from "@layouts/Layout.astro";
import { getAllNotes } from "@lib/cms/notes";

const allNotes = await getAllNotes();
---

<Layout title="Notes" breadcrumb="notes.sh">
  <div class="mb-8 effect-text-glitch">
    <h1 class="font-redaction20 text-2xl font-bold text-balance">
      Notes
    </h1>
    <p class="font-mono text-sm text-balance">
      A collection of thoughts, on various topics.
    </p>
  </div>
  <div class="mb-8">
    <div class="font-mono text-xs text-stone-500 dark:text-stone-400 mb-4">
      <span class="text-blue-600 dark:text-blue-400">></span> entries
    </div>

    <div class="flex flex-col gap-6">
      {
        allNotes.map((note, index) => (
          <div class="border border-stone-200 bg-stone-50 dark:border-stone-700 dark:bg-stone-900/40 overflow-hidden">
            <a
              href={`/notes/${note.slug}`}
              data-astro-prefetch
              class="flex flex-col sm:flex-row"
            >
              <img
                src={note.coverImage.url}
                width={note.coverImage.width || 100}
                height={note.coverImage.height || 100}
                class="aspect-wxga w-full sm:w-64 object-cover"
                style={note.coverImage.placeholder?.css}
                loading="lazy"
              />
              <div class="p-4 flex-1">
                <div class="font-mono text-xs text-stone-400 mb-2 dark:text-stone-500">
                  [{String(index + 1).padStart(2, "0")}]
                </div>
                <h2 class="font-redaction20 text-xl font-bold text-balance leading-tight mb-2">
                  {note.title}
                </h2>
                <p class="font-mono text-sm leading-relaxed text-stone-600 dark:text-stone-300 mb-3">
                  {note.excerpt}
                </p>
                <div class="flex flex-row flex-wrap gap-2 font-mono text-xs text-stone-500 dark:text-stone-400">
                  {note.tags?.map((tag: any) => (
                    <span class="bg-stone-200 px-2 py-0.5 dark:bg-stone-800">
                      #{tag}
                    </span>
                  ))}
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </div>
  
  <div class="my-8 font-mono text-xs text-stone-500 dark:text-stone-400 effect-text-glitch">
    <span class="text-stone-600 dark:text-stone-300">{allNotes.length} entries • more coming soon</span>
  </div>
</Layout>
