---
import Layout from "@layouts/Layout.astro";
import { getAllNotes } from "@lib/cms/notes";

const allNotes = await getAllNotes();
const highlightedNote = allNotes[0];
const otherNotes = allNotes.slice(1);
---

<Layout title="Notes">
  <div class="flex flex-col gap-8">
    <a class="flex flex-col gap-4 mb-4 sm:items-center" href={`/notes/${highlightedNote.slug}`}>
      <img
        src={highlightedNote.coverImage.url}
        width={highlightedNote.coverImage.width || 100}
        height={highlightedNote.coverImage.height || 100}
        class="rounded-lg object-cover sm:max-w-xl shadow-md"
        style={highlightedNote.coverImage.placeholder?.css}
        loading="lazy"
      />
      <div class="flex flex-col gap-1 sm:text-center">
        <h2 class="text-2xl sm:text-3xl font-bold font-redaction20">{highlightedNote.title}</h2>
        <p class="font-mono text-sm">{highlightedNote.excerpt}</p>
        <div class="flex font-mono flex-row mt-1 gap-2 text-xs flex-wrap dark:text-stone-300 text-stone-700 sm:justify-center">
          {highlightedNote.tags?.map((tag) => (
            <span>#{tag}</span>
          ))}
        </div>
      </div>
    </a>
    {
      otherNotes.map((note) => (
        <a class="flex flex-col sm:flex-row gap-4" href={`/notes/${note.slug}`}>
          <img
            src={note.coverImage.url}
            width={note.coverImage.width || 100}
            height={note.coverImage.height || 100}
            class="sm:w-24 sm:h-24 rounded-lg object-cover lg:w-48 lg:h-32"
            style={note.coverImage.placeholder?.css}
            loading="lazy"
          />
          <div class="flex flex-col gap-0.5">
            <h2 class="text-2xl font-bold font-redaction20">{note.title}</h2>
            <p class="font-mono text-sm">{note.excerpt}</p>
            <div class="flex font-mono flex-row mt-1 gap-2 text-xs flex-wrap dark:text-stone-300 text-stone-700">
              {note.tags?.map((tag) => (
                <span>#{tag}</span>
              ))}
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
