---
import Layout from "@layouts/Layout.astro";
import ContentGrid from "@components/ContentGrid.astro";
import { getProjects } from "@lib/cms/projects";
import externalLinkIcon from "@hackernoon/pixel-icon-library/icons/SVG/regular/external-link.svg?raw";

const projects = await getProjects();
---

<Layout title="Projects" breadcrumb="projects.sh">
  <main>
    <div class="mb-8">
      <h1 class="text-balance font-redaction20 text-2xl font-bold">
        My projects
      </h1>
      <p class="font-mono text-sm text-balance">
        A bunch of things I’ve done that I think are pretty cool.
      </p>
    </div>

    <ContentGrid content={projects.filter((p) => !p.isMinor)} />

    <h2 class="mb-3 mt-10 text-balance font-redaction20 text-2xl font-bold">
      More Projects
    </h2>
    <div>
      {
        projects
          .filter((p) => p.isMinor)
          .map((project) => (
            <>
              <div class="flex items-center gap-2">
                {project?.action?.url ? (
                  <a href={project.action.url} class="flex items-center gap-2" target="_blank">
                    <h1 class="text-balance font-redaction20 text-xl font-bold sm:text-2xl hover:underline">
                      {project.title}
                    </h1>
                    <div class="h-3 w-3 fill-current">
                      <Fragment set:html={externalLinkIcon} />
                    </div>
                  </a>
                ) : (
                  <h1 class="text-balance font-redaction20 text-xl font-bold sm:text-2xl">
                    {project.title}
                  </h1>
                )}
              </div>
              <h2 class="mb-2 font-mono text-sm">{project.tagline}</h2>
              <div class="prose prose-sm dark:prose-stone dark:prose-invert">
                <Fragment set:html={project.description?.html} />
              </div>
            </>
          ))
      }
    </div>
  </main>
</Layout>
