---
import envelope from '@hackernoon/pixel-icon-library/icons/SVG/regular/envelope.svg?raw'
import key from '@hackernoon/pixel-icon-library/icons/SVG/regular/lock.svg?raw'

const account = 'hi';
const domain = 'kopanko.com';

export interface Props {
  class?: string;
}

const {class: className} = Astro.props;
---

<div class={className}>
  <h1 class="font-redaction20 text-3xl mb-2">Get in touch</h1>
  <ul class="font-mono">
    <li class="flex items-center mb-2 gap-2">
      <div class="w-5 h-5 fill-current">
        <Fragment set:html={envelope}/>
      </div>
      <span class="hover:underline mailto-link cursor-pointer" data-a={account} data-d={domain} />
    </li>
    <li class="flex items-center mb-2 gap-2">
      <div class="w-5 h-5 fill-current">
        <Fragment set:html={key}/>
      </div>
      <a href="/0x5B241D4445E1847B-pub.asc" class="hover:underline">My public key</a>
    </li>
  </ul>
</div>

<style>
  .mailto-link::after {
    content: attr(data-a) "@" attr(data-d);
  }
</style>

<script>
const mailtoLinks = document.querySelectorAll('.mailto-link');
for (const link of mailtoLinks) {
  link.addEventListener('click', (e) => {
    if (!e?.target) {
      return;
    }
    const target = e.target as HTMLElement;
    const account = target.getAttribute('data-a');
    const domain = target.getAttribute('data-d');
    if (!account || !domain) {
      return;
    }
    const mailto = `mailto:${account}@${domain}`;
    window.location.href = mailto;
  });
}
</script>