---
import { Icon } from "astro-icon/components";

const account = "hi";
const domain = "kopanko.com";

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={className}>
  <div class="mb-2 md:mb-3">
    <h1 class="font-redaction20 text-3xl">Get in touch</h1>
  </div>
  <ul class="mt-3 font-mono">
    <li class="mb-2 flex items-center gap-2">
      <Icon name="envelope" class="h-5 w-5 fill-current" />
      <span
        class="mailto-link cursor-pointer hover:underline"
        data-a={account}
        data-d={domain}></span>
    </li>
    <li class="mb-2 flex items-center gap-2">
      <Icon name="github" class="h-5 w-5 fill-current" />
      <a
        href="https://github.com/pcktm/"
        class="hover:underline"
        target="_blank"
        rel="noopener noreferrer"
        data-umami-event="github click"
      >
        @pcktm
      </a>
    </li>
    <li class="mb-2 flex items-center gap-2">
      <Icon name="linkedin" class="h-5 w-5 fill-current" />
      <a
        href="https://www.linkedin.com/in/pcktm/"
        class="hover:underline"
        target="_blank"
        rel="noopener noreferrer"
        data-umami-event="linkedin click"
      >
        /in/pcktm
      </a>
    </li>
    <li class="mb-2 flex items-center gap-2">
      <Icon name="lock-alt" class="h-5 w-5 fill-current" />
      <a
        href="/0x5B241D4445E1847B-pub.asc"
        class="hover:underline"
        data-umami-event="public-key click"
      >
        My public key
      </a>
    </li>
  </ul>
</div>

<style>
  .mailto-link::after {
    content: attr(data-a) "@" attr(data-d);
  }
</style>

<script>
  const mailtoLinks = document.querySelectorAll(".mailto-link");
  for (const link of mailtoLinks) {
    link.addEventListener("click", (e) => {
      if (!e?.target) {
        return;
      }
      const target = e.target as HTMLElement;
      const account = target.getAttribute("data-a");
      const domain = target.getAttribute("data-d");
      if (!account || !domain) {
        return;
      }
      const mailto = `mailto:${account}@${domain}`;
      window.location.href = mailto;
    });
  }
</script>
