---
import type { Achievement, Project } from "@lib/cms/types";
import { Image } from "astro:assets";

export type Props = {
  content: Achievement[] | Project[];
};

const { content } = Astro.props;
---

<div class="columns-1 gap-4 sm:columns-2">
  {
    content.map((entry) => (
      <div class="light:bg-white mb-5 w-full break-inside-avoid-column overflow-hidden rounded-lg border shadow-sm dark:border-zinc-800 dark:backdrop-brightness-110">
        {entry.coverImage && (
          <Image
            style={entry.coverImage?.placeholder?.css}
            src={{
              src: entry.coverImage.url,
              height: entry.coverImage.height,
              width: entry.coverImage.width,
              format: "webp",
            }}
            class="w-full object-cover"
            alt={entry.coverImage.caption ?? ""}
          />
        )}
        <div class="relative p-4">
          {entry.action && (
            <a
              class="bg-opacity-20 absolute -top-3 right-3 rounded-lg bg-stone-100 px-2 py-1 font-mono text-sm shadow-xs backdrop-blur-md backdrop-brightness-130 backdrop-contrast-125 dark:text-stone-900 dark:backdrop-brightness-90"
              href={entry.action.url}
              target="_blank"
              rel="noopener"
            >
              {entry.action.text}
            </a>
          )}
          <h1 class="font-redaction20 mt-1 text-xl font-bold text-balance">
            {entry.title}
          </h1>
          <h2 class="font-mono text-sm">{entry.tagline}</h2>
          {/* <hr class="my-3 border-b-1 border-zinc-500" /> */}
          <div class="prose prose-sm prose-stone dark:prose-invert mt-2">
            <Fragment set:html={entry.description?.html} />
          </div>
        </div>
      </div>
    ))
  }
</div>
