---
import { getAllNotes } from "@lib/cms/notes";
import ellipsize from "ellipsize";

const notes = await getAllNotes();
---

<div>
  <h1 class="font-redaction20 text-3xl md:mb-3">Latest notes</h1>
  <div class="relative">
    <div
      class="pointer-events-none absolute right-0 top-0 h-full w-32 bg-linear-to-r from-transparent to-stone-50 dark:to-darkbg"
    >
    </div>
    <div class="flex gap-4 overflow-x-scroll pb-3" id="scrollable">
      {
        notes.map((note) => (
          <a
            href={`/notes/${note.slug}`}
            class="scrollable-item max-w-40 flex-none overflow-hidden rounded-sm border sm:max-w-64 dark:border-zinc-700"
          >
            <div class="flex flex-col">
              <img
                class="h-24 object-cover object-center md:h-36"
                height={note.coverImage.height}
                width={note.coverImage.width}
                style={note.coverImage.placeholder?.css}
                src={note.coverImage.url}
              />
              <div class="p-4">
                <h2 class="text-ellipsis text-balance font-redaction20 text-lg">
                  {ellipsize(note.title, 50)}
                </h2>
              </div>
            </div>
          </a>
        ))
      }
      <div class="z-10 w-16 flex-none">
        <div class="flex h-full items-center justify-center">
          <a
            href="/notes"
            class="rounded-full bg-stone-200 p-3 text-gray-500 hover:text-gray-900"
          >
            <svg
              class="h-6 w-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
