---
import BoxWithTitle from "./BoxWithTitle.astro";
import {Icon} from "astro-icon/components";

import AGHLogo from "@assets/agh-logo.svg?raw";
import SmarttechLogo from "@assets/smarttech-logo.svg?raw";
import ZwierciadlaLogo from "@assets/zwierciadla-logo.svg?raw";
import URSSLogo from "@assets/urss-logo-short.svg?raw";
import CampusLogo from "@assets/campus-agh-logo.svg?raw";
import HackAghLogo from "@assets/hackagh-logo.svg?raw";
import ActiveCampaignLogo from "@assets/ac-logo.svg?raw";

type Entry = {
  logo: string;
  subentries: {
    date: string;
    title: string;
  }[];
  icons?: string[];
  dividerAfter?: boolean;
};

type SmallLogo = {
  logo: string;
  altText: string;
}

const iconNameToTooltip: Record<string, string> = {
  "simple-icons:typescript": "TypeScript",
  "simple-icons:nodedotjs": "Node.js",
  "simple-icons:awslambda": "AWS Lambda",
  "simple-icons:amazonaws": "Amazon Web Services",
  "simple-icons:elasticsearch": "Elasticsearch",
  "simple-icons:terraform": "Terraform",
  "simple-icons:postgresql": "PostgreSQL",
  "simple-icons:mongodb": "MongoDB",
  "simple-icons:graphql": "GraphQL",
  "simple-icons:jira": "Jira",
  "simple-icons:openai": "OpenAI",
  "simple-icons:python": "Python",
  "simple-icons:react": "React",
  "simple-icons:fastapi": "FastAPI",
};

const entries: Entry[] = [
  {
    logo: AGHLogo,
    subentries: [
      {
        date: "2020 — 24",
        title:
          "Computer Science and Intelligent Systems B.Eng. Degree from AGH University of Kraków",
      },
      {
        date: "2024 — 26",
        title: "Computer Science and Intelligent Systems M.Eng. Degree",
      },
    ],
  },
  {
    logo: ActiveCampaignLogo,
    subentries: [
      {
        date: "Mar 2025 — present",
        title:
          "Full-stack engineer at ActiveCampaign, building cutting-edge AI-powered marketing automation and CRM solutions.",
      },
    ],
    icons: [
      "simple-icons:python", "simple-icons:typescript", "simple-icons:react", "simple-icons:awslambda",
    ]
  },
  {
    logo: SmarttechLogo,
    subentries: [
      {
        date: "Apr 2023 — Jan 2025",
        title:
          "Mid-level backend engineer at ThreatHub, driving innovation in cybersecurity through advanced threat intelligence and vulnerability management.",
      },
    ],
    icons: [
      "simple-icons:typescript", "simple-icons:nodedotjs", "simple-icons:python", "simple-icons:awslambda",
      "simple-icons:amazonaws", "simple-icons:elasticsearch", "simple-icons:terraform",
      "simple-icons:postgresql", "simple-icons:mongodb","simple-icons:graphql", "simple-icons:openai", "simple-icons:jira"
    ],
  },
  {
    logo: ZwierciadlaLogo,
    subentries: [
      {
        date: "2018 — 2019",
        title:
          "Chief Coordinator of the 16th edition of Zwierciadła Theatre Festival",
      },
    ],
  },
];

const smallLogos: SmallLogo[] = [
  {
    logo: CampusLogo,
    altText: "Campus AGH",
  },
  {
    logo: HackAghLogo,
    altText: "Hack AGH",
  },
  {
    logo: URSSLogo,
    altText: "Uczelniana Rada Samorządu Studentów AGH",
  },
];

entries.forEach((entry) => {
  if (entry.icons) {
    entry.icons.forEach((icon) => {
      if (!iconNameToTooltip[icon]) {
        throw new Error(`Icon ${icon} does not have a tooltip`);
      }
    });
  }
});
---

<div>
  <div class="md:mb-3">
    <h1 class="font-redaction20 text-3xl">Resumé</h1>
  </div>
  <div
    class="grid grid-cols-1 gap-1 md:grid-cols-5 md:items-center md:gap-x-10 md:gap-y-9"
  >
    {
      entries.map((entry, index) => (
        <>
          <div class="mt-8 w-45 col-span-1 md:mt-0 md:w-full dark:fill-stone-200">
            <Fragment set:html={entry.logo} />
          </div>
          <div class="col-span-1 flex flex-col gap-3.5 mt-3 md:mt-0 md:col-span-4">
            {entry.subentries.map((subentry, index) => (
              <div class="even:mt-1">
                <p class="font-semibold text-md dark:text-stone-200">
                  {subentry.date}
                </p>
                <p class="text-balance mt-1 md:mt-0.5 text-md font-mono">
                  {subentry.title}
                </p>
              </div>
            ))}

            {entry.icons && (
              <div>
                <div class="flex flex-row gap-4 flex-wrap max-w-sm">
                  {entry.icons.map((icon) => (
                    <Icon class="fill-current dark:fill-stone-200" name={icon} size="24" title={iconNameToTooltip[icon]} />
                  ))}
                </div>
              </div>
            )}
          </div>
          {entry.dividerAfter && (
            <hr class="border-t border-stone-300 max-w-xs dark:border-stone-500 md:col-span-5 col-span-1 mt-6 md:mt-0" />
          )}
        </>
      ))
    }
  </div>
  <BoxWithTitle title="non-profit work" class="mt-14">
    <div
      class="px-2 py-1 flex flex-row flex-wrap gap-4 md:gap-8 items-center"
    >
      {
        smallLogos.map((smallLogo) => (
          <div class="w-20 dark:fill-stone-300 fill-stone-800">
            <Fragment set:html={smallLogo.logo} />
          </div>
        ))
      }
    </div>
  </BoxWithTitle>
</div>
