---
import BoxWithTitle from "./BoxWithTitle.astro";
import { Icon } from "astro-icon/components";

import AGHLogo from "@assets/agh-logo.svg?raw";
import SmarttechLogo from "@assets/smarttech-logo.svg?raw";
import ZwierciadlaLogo from "@assets/zwierciadla-logo.svg?raw";
import URSSLogo from "@assets/urss-logo-short.svg?raw";
import CampusLogo from "@assets/campus-agh-logo.svg?raw";
import HackAghLogo from "@assets/hackagh-logo.svg?raw";
import ActiveCampaignLogo from "@assets/ac-logo.svg?raw";
import FeedbackBubble from "./FeedbackBubble.astro";

const iconNameToTooltip = {
  "simple-icons:typescript": "TypeScript",
  "simple-icons:nodedotjs": "Node.js",
  "simple-icons:awslambda": "AWS Lambda",
  "simple-icons:amazonaws": "Amazon Web Services",
  "simple-icons:elasticsearch": "Elasticsearch",
  "simple-icons:terraform": "Terraform",
  "simple-icons:postgresql": "PostgreSQL",
  "simple-icons:mongodb": "MongoDB",
  "simple-icons:graphql": "GraphQL",
  "simple-icons:jira": "Jira",
  "simple-icons:openai": "OpenAI",
  "simple-icons:python": "Python",
  "simple-icons:react": "React",
  "simple-icons:fastapi": "FastAPI",
  "simple-icons:affinitydesigner": "Affinity Designer",
  "simple-icons:wordpress": "Wordpress",
  "simple-icons:javascript": "JavaScript",
  "simple-icons:kubernetes": "Kubernetes",
  "simple-icons:pydantic": "Pydantic AI",
  "simple-icons:grafana": "Grafana",
  "simple-icons:anthropic": "Anthropic",
  "simple-icons:modelcontextprotocol": "Model Context Protocol",
} as const;

type Entry = {
  logo: string;
  subentries: {
    date: string;
    title: string;
  }[];
  icons?: Array<keyof typeof iconNameToTooltip>;
  dividerAfter?: boolean;
  feedback?: {
    quote: string;
    signature: string;
  }[];
};

type SmallLogo = {
  logo: string;
  altText: string;
};

const entries: Entry[] = [
  {
    logo: AGHLogo,
    subentries: [
      {
        date: "2020 — 24",
        title:
          "Computer Science and Intelligent Systems B.Eng. Degree from AGH University of Kraków",
      },
      {
        date: "2024 — 26",
        title: "Computer Science and Intelligent Systems M.Eng. Degree",
      },
    ],
  },
  {
    logo: ActiveCampaignLogo,
    subentries: [
      {
        date: "2025 — now",
        title:
          "Full-stack engineer at ActiveCampaign, building cutting-edge AI-powered marketing automation and customer-centric agentic systems.",
      },
    ],
    icons: [
      "simple-icons:python",
      "simple-icons:fastapi",
      "simple-icons:typescript",
      "simple-icons:react",
      "simple-icons:kubernetes",
      "simple-icons:pydantic",
      "simple-icons:modelcontextprotocol",
      "simple-icons:anthropic",
      "simple-icons:grafana",
    ],
  },
  {
    logo: SmarttechLogo,
    subentries: [
      {
        date: "2023 — 25",
        title:
          "Mid-level backend engineer at ThreatHub, driving innovation in cybersecurity through advanced threat intelligence and vulnerability management.",
      },
    ],
    icons: [
      "simple-icons:typescript",
      "simple-icons:nodedotjs",
      "simple-icons:python",
      "simple-icons:awslambda",
      "simple-icons:amazonaws",
      "simple-icons:elasticsearch",
      "simple-icons:terraform",
      "simple-icons:postgresql",
      "simple-icons:mongodb",
      "simple-icons:graphql",
      "simple-icons:openai",
      "simple-icons:jira",
    ],
    feedback: [
      {
        quote:
          "Few engineers I’ve encountered in my career possess Jakub's exceptional ability to understand intricate problems and apply a highly analytical mindset.",
        signature: "— Edi, CTO at Smarttech",
      },
      {
        quote:
          "If you are looking for an experienced and independent developer with an open mind full of ideas, you don’t need to look any further.",
        signature: "— Miłosz, Tech Lead at Smarttech",
      },
    ],
  },
  {
    logo: ZwierciadlaLogo,
    subentries: [
      {
        date: "2018 — 2019",
        title:
          "Chief Coordinator of the 16th edition of Zwierciadła Theatre Festival",
      },
    ],
    icons: [
      "simple-icons:wordpress",
      "simple-icons:javascript",
      "simple-icons:affinitydesigner",
    ],
  },
];

const smallLogos: SmallLogo[] = [
  {
    logo: CampusLogo,
    altText: "Campus AGH",
  },
  {
    logo: HackAghLogo,
    altText: "Hack AGH",
  },
  {
    logo: URSSLogo,
    altText: "Uczelniana Rada Samorządu Studentów AGH",
  },
];
---

<div>
  <div class="md:mb-10 print:mb-6">
    <h1 class="font-redaction20 text-3xl">Resumé</h1>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-5 md:items-start md:gap-x-10 md:gap-y-10"
  >
    {
      entries.map((entry, index) => (
        <>
          <div class="col-span-1 mt-10 w-45 md:mt-1.5 md:w-full dark:fill-stone-200">
            <Fragment set:html={entry.logo} />
          </div>
          <div class="col-span-1 mt-3 flex flex-col gap-3.5 md:col-span-4 md:mt-0">
            {entry.subentries.map((subentry, index) => (
              <p class="text-balance even:mt-1">
                <span class="mr-2 font-semibold effect-no-text-glitch">{subentry.date}</span>
                <span class="font-mono">{subentry.title}</span>
              </p>
            ))}

            {entry.icons && (
              <div>
                <div class="mt-1 flex flex-row flex-wrap gap-4">
                  {entry.icons.map((icon) => (
                    <Icon
                      class="fill-current dark:fill-stone-200"
                      name={icon}
                      size="24"
                      title={iconNameToTooltip[icon]}
                    />
                  ))}
                </div>
              </div>
            )}

            {entry.feedback && (
              <div class="mt-4 flex flex-col gap-5">
                {entry.feedback.map((feedback, index) => (
                  <div class:list={[index % 2 === 0 ? "mr-10" : "ml-10"]}>
                    <FeedbackBubble
                      quote={feedback.quote}
                      signature={feedback.signature}
                      spikeDirection={
                        index % 2 !== 0 ? "top-left" : "top-right"
                      }
                    />
                  </div>
                ))}
              </div>
            )}
          </div>
          {entry.dividerAfter && (
            <hr class="col-span-1 mt-6 max-w-xs border-t border-stone-300 md:col-span-5 md:mt-0 dark:border-stone-500" />
          )}
        </>
      ))
    }
  </div>
  <BoxWithTitle title="non-profit work" class="mt-14">
    <div class="flex flex-row flex-wrap items-center gap-4 px-2 py-1 md:gap-8">
      {
        smallLogos.map((smallLogo) => (
          <div class="w-20 fill-stone-800 dark:fill-stone-300">
            <Fragment set:html={smallLogo.logo} />
          </div>
        ))
      }
    </div>
  </BoxWithTitle>
</div>
