---
import Navbar from "@components/Navbar.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import "@fontsource/space-mono";
import '../styles/fonts.css';

interface Props {
  title?: string;
  hideNavbar?: boolean;
  keywords?: string;
  description?: string;
}

const {
  title,
  hideNavbar,
  keywords,
  description = "I'm Jakub Kopańko, a full-stack developer, backend expert and open source enthusiast.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{!!title ? `${title} — Jakub Kopańko` : "Jakub Kopańko"}</title>
    <meta property="og:title" content={!!title ? `${title} — Jakub Kopańko` : "Jakub Kopańko"} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://kopanko.com/images/og.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@pcktm_" />
    <meta name="twitter:creator" content="@pcktm_" />
    {!!keywords ? <meta name="keywords" content={keywords} /> : null}
    {
      import.meta.env.PROD ? <SpeedInsights /> : null
    }
  </head>
  <body class="dark:bg-darkbg dark:text-stone-100 bg-stone-50 text-stone-950 mb-10">
    <div class="container max-w-3xl mx-auto px-5 mt-16 md:mt-24">
      {
        hideNavbar ? null : (
          <div class="mb-10 md:mb-12">
            <Navbar />
          </div>
        )
      }
      <slot />
    </div>
  </body>
</html>
<style is:global>
  .font-mono { 
    font-variant-ligatures: none;
  }
</style>
